notificationpopup {
    height: 40%;
    width: auto;
    background-color: orange;
    border-radius: 75px;
    align-items: center;
    justify-content: space-between;
    transition: opacity 0.35s ease-out;
    opacity: 0;

    &.open {
        opacity: 1;
    }

    img {
        width: 96px;
        height: 96px;
        border-radius: 100px;
        margin-left: 5px;
    }

    label {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 40px;
        text-align: left;
    }
}