@import "Styles/Theme.scss";

hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;

    &.devcamera {
        opacity: 0;
    }

    .emotewheel {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
}
