hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
}

.preview {
    width: 100%;
    height: 5%;
    text-align: center;
    font-size: 50px;
    color: black;
}