@using Sandbox;
@using Sandbox.UI;
@inherits RootPanel;
@attribute [StyleSheet("/UI/Hud.scss")]
@namespace CrazyEights.UI

<root>
    <stateinfo @ref=StateInfo></stateinfo>
    <crosshair @ref=Crosshair></crosshair>
    <div class="emotewheel">
        <emotewheel></emotewheel>
    </div>

    <chatbox></chatbox>
    <hints></hints>

    <scoreboard></scoreboard>
</root>

@code
{
    private StateInfo StateInfo { get; set; }
    private Crosshair Crosshair { get; set; }

    public void ActivateTurnTimer() => StateInfo.ActivateTurnTimer();
    public void ActivateLastPlayed(IClient player, bool drewCard) => StateInfo.ActivateLastPlayed(player, drewCard);
    public void ActivateCrosshair() => Crosshair.Activate();
    public void ActivateGameOverOverlay(IClient winner)
    {
        var overlay = AddChild<GameOverOverlay>();
        overlay.Activate(winner);
    }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        BindClass("devcamera", () => Game.LocalClient.Components.TryGet<DevCamera>(out DevCamera cam));
    }
}