@import "Styles/Theme.scss";

hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;

    &.devcamera {
        opacity: 0;
    }

    .preview {
        position: absolute;
        width: 100%;
        height: 8%;
        bottom: 0;
        justify-content: center;
        font-size: 40px;
        color: white;
        text-stroke: 3px black;
        font-family: $font-primary;
        font-weight: semibold;
    }
}
