hud {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;

    .preview {
        position: absolute;
        width: 100%;
        height: 25%;
        text-align: center;
        font-size: 50px;
        color: white;
        text-stroke: 5px black;
    }
}
