@import "/UI/Styles/_slider.scss";

gamesettings {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .inputFields {
        height: 80%;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .field {
            height: 25%;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;

            text {
                font-size: 16px;
                margin-top: 20px;
                font-weight: semibold;
            }
        }
    }

    .buttons {
        height: 20%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;

        button {
            width: 30%;
            height: 50%;
            border: 2px solid rgba( black, .2 );
            text-stroke: 2px black;
            border-radius: 10px;
            background-color: rgba(10, 34, 57, 1);
            font-size: 20px;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease-out;

            &:hover {
                transform: scale(1.2);
                sound-in: click1;
            }
        }
    }
}
