playerlist {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .players {
        height: 90%;
        width: 100%;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
    }

    .buttons {
        height: 10%;
        width: 100%;
        margin-bottom: 5px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;

        button {
            width: 30%;
            height: 90%;
            border: 2px solid rgba( black, .2 );
            text-stroke: 2px black;
            border-radius: 10px;
            background-color: rgba(10, 34, 57, 1);
            font-size: 20px;
            align-items: center;
            justify-content: center;
            transition: transform 0.2s ease-out;

            &:hover {
                transform: scale(1.2);
                sound-in: click1;
            }
        }
    }
}
