@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@attribute [StyleSheet("/UI/Settings/PlayerList.scss"), NavTarget("Settings/PlayerList")]
@namespace CrazyEights.UI

<root>
    <div class="players">
        @foreach(Client c in Client.All)
        {
            <PlayerListEntry Client=@c></PlayerListEntry>
        }
    </div>
    <div class="buttons">
        <button @onclick=@AddBot>Add Bot</button>
    </div>
</root>

@code
{
    protected override int BuildHash()
    {
        return HashCode.Combine(Client.All);
    }

    private void AddBot() => CrazyEights.Bot.AddBot();
}