@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet("/UI/Settings/PlayerListEntry.scss")]
@namespace CrazyEights.UI

<root>
    <div style="align-items: center;">
        <image style="background-image: url(avatar:@Client.SteamId)"></image>
        <label>@Client.Name.Truncate(23, "...")</label>
    </div>

    @if(Client != Game.LocalClient)
    { <button class="kickbutton" @onclick=@KickPlayer>Kick</button> }
        
</root>

@code
{
    public IClient Client { get; set; }

    private void KickPlayer() => Client.Kick();
}