@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@attribute [StyleSheet("/UI/Overlays/GameOverOverlay.scss")]
@namespace CrazyEights.UI

<root>
    <image style="background-image: url(avatarbig:@Winner.SteamId)"></image>
    <label>@Winner.Name has won the game!</label>
</root>

@code 
{
    private IClient Winner { get; set; }

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        BindClass("active", () => activated < 5f);
    }

    TimeSince activated = 6f;
    public void Activate(IClient winner)
    {
        Winner = winner;
        activated = 0f;
    }
}