@import "../Styles/Theme.scss";

gameoveroverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(20px) brightness(0.5);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.active {
        opacity: 1;
    }

    image {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        margin-bottom: 20px;
    }

    .label {
        color: white;
        text-stroke: 2px #000;
        font-size: 30px;
        font-family: $font-primary;
        font-weight: semibold;
    }
}
