@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@attribute [StyleSheet("/UI/Hints/InputHint.scss")]
@namespace CrazyEights.UI

<root>
    <image class="glyph" @ref=Glyph></image>
    <label class="action">@Text</label>
</root>

@code
{
    public string Text { get; set; }

    private Image Glyph { get; set; }
    private string Action { get; set; }

    protected bool IsSet = false;

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        BindClass("noaction", () => string.IsNullOrEmpty(Text));
    }

    public override void SetProperty(string name, string value)
    {
        base.SetProperty(name, value);

        if(name == "action")
            SetAction(value);
    }

    public void SetAction(string action)
    {
        Action = action;
        IsSet = true;
    }

    public override void Tick()
    {
        base.Tick();

        if(IsSet)
        {
            Texture glyphTexture = Input.GetGlyph(Action, InputGlyphSize.Small, GlyphStyle.Knockout.WithNeutralColorABXY().WithSolidABXY());
            if(glyphTexture != null)
            {
                Glyph.Texture = glyphTexture;
                Glyph.Style.Width = glyphTexture.Width;
                Glyph.Style.Height = glyphTexture.Height;
            }
            else
            {
                Glyph.Texture = Texture.Load(FileSystem.Mounted, "/ui/Input/invalid_glyph.png");
            }
        }
    }
}