.radial-menu {
    width: 600px;
    height: 600px;
    background-color: rgba( 0 0 0 0.8 );
    backdrop-filter-blur: 20px;
    z-index: 1001;
    border-radius: 50%;
    box-shadow: 0 0 32px 16px rgba( 50 50 50 0.5 );
    border: 2px white solid;
    transition: backdrop-filter-blur 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    position: absolute;
    opacity: 1;

    RadialMenuItem {
        margin-right: 16px;
    }

    .dot {
        position: absolute;
        background-color: white;
        box-shadow: 0px 0px 4px 4px rgba( black, 0.2 );
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    .items {
    }

    .center {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-content: center;

        .info {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;

            .name {
                font-family: Vollkorn;
                font-size: 32px;
                text-shadow: 0px 0px 4px rgba( 0 0 0 0.4 );
                color: lightgoldenrodyellow;
            }

            .description {
                font-family: Vollkorn;
                font-size: 24px;
                max-width: 80%;
                color: white;
                text-align: center;
            }

            .subtitle {
                font-family: Vollkorn;
                font-size: 24px;
                color: white;
                opacity: 0.7;
            }
        }

        .arrow {
            position: absolute;
            opacity: 0.5;
        }

        &.hidden {
            display: none;
        }
    }

    &.hidden {
        opacity: 0;
    }
}
