@import "../Styles/Theme.scss";

scoreboardentry {
    height: 10%;
    width: 100%;
    align-items: center;
    font-family: $font-primary;
    padding: 4px;
    margin-bottom: 4px;
    border-radius: 10px;

    &:hover {
        background-color: rgba(50, 50, 50, 0.5);
    }

    image {
        background-position: center;
        background-size: cover;
        width: 37px;
        height: 37px;
        border-radius: 30px;
        margin-right: 10px;
        margin-left: 20px;
    }

    .name {
        font-size: 20px;
        font-weight: 500;
        flex-grow: 1;
        text-stroke: 2px black;
    }

    .buttons {
        width: 40%;
        justify-content: space-evenly;
        align-items: center;

        button {
            width: 35%;
            height: 95%;
            border: 2px solid rgba( black, .2 );
            text-stroke: 2px black;
            border-radius: 10px;
            background-color: rgba(10, 34, 57, 1);
            font-size: 18px;
            align-items: center;
            justify-content: center;

            &:hover {
                sound-in: click1;
                background-color: rgba(40, 64, 87, 1);
            }
        }
    }
}
