@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel;
@attribute [StyleSheet("/UI/Scoreboard/ScoreboardEntry.scss")]
@namespace CrazyEights.UI

<root>
    <image style="background-image: url(avatarsmall:@Client.SteamId)"></image>
    <label class="name">@Client.Name.Truncate(13, "...")</label>

    <div class="buttons">
        @if(Client == Game.LocalClient || Game.LocalClient.IsListenServerHost)
        {
            <button onclick=@SwapPlayer text="Swap"></button>
        }

        @if(Game.LocalClient.IsListenServerHost)
        {
            <button @onclick=@KickPlayer text="Kick"></button>
        }
    </div>
</root>

@code
{
    public IClient Client { get; set; }

    private void KickPlayer() => Client.Kick();
    private void SwapPlayer() => ConsoleSystem.Run($"ce_swapteam {Client.NetworkIdent}");

    protected override void OnAfterTreeRender(bool firstTime)
    {
        if (!firstTime) return;

        BindClass("inQueue", () => CrazyEights.GameManager.Current.SpectatorSwapQueue.Contains(Client));
    }
}