@import "../Styles/Theme.scss";

scoreboard {
    position: absolute;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(10px) brightness(0.5);
    transition: opacity 0.2s ease-in-out;
    opacity: 0;

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .gametitle {
        height: 10%;
        align-items: center;
        justify-content: center;
        font-family: $font-primary;
        font-weight: semibold;
        font-size: 40px;
        color: white;
        text-stroke: 3px black;
    }

    .container {
        height: 50%;
        width: 40%;
        flex-direction: row;
        justify-content: center;
        color: white;

        .section {
            height: 100%;
            width: 50%;
            flex-direction: column;
            align-items: center;
            margin: 4px;
            font-family: $font-primary;

            .title {
                text-stroke: 2px black;
                font-size: 45px;
            }
        }
    }
}
