@import "../RadialMenu/RadialMenu.scss";

.radial-menu {
    &.cannot-afford {
        .items {
            RadialMenuItem {
                &.selected {
                    border-color: rgba( red 0.6 );

                    .icon {
                        background-tint: rgba( red 0.6 );
                    }
                }
            }
        }

        .center {
            .info {
                .subtitle {
                    color: rgba( red 0.8 );
                }
            }

            .arrow {
                background-tint: rgba( red 0.6 );
                position: absolute;
            }
        }
    }
}
