cardpanel {
    aspect-ratio: 0.714;
    width: 150px;
    margin: 0 2px;
    border-radius: 4px;
    background-image: url(ui/card_back.png);
    background-position: center;
    background-size: 100%;
}
