worldnameplate {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .voice {
        width: 0;
        height: 0;
        opacity: 0;
        transition: opacity .35s ease-in-out;
        font-size: 50px;
        text-align: center;

        &.active {
            opacity: 1;
        }
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity .35s ease-in-out;

        &.active {
            opacity: 1;
        }

        &.currentplayer {
            .name {
                color: rgba(200, 170, 0, 1);
            }
        }

        .avatar {
            height: 25%;
            width: 15%;
            border-radius: 50%;
        }

        .name {
            font-size: 60px;
            color: white;
            text-stroke: 10px black;
        }
    }
}
